@import url('../Fonts//Montserrat.css');

.teste {
    display: flex;
    gap: 120px;
}

.listaHeader {
    display: flex;
    gap: 100px;
    padding-left: 25rem;
    padding-top: 2rem;
}

.li-linkHeader {
    list-style-type: none;
    text-decoration: none;
}

.linkHeader {
    color: #fff;
    font-family: 'Montserrat';
    text-decoration: none;
}

.linkHeader:hover {
    text-decoration: underline;
}