@import url('../Fonts//Montserrat.css');

.teste {
    display: flex;
    gap: 120px;
}

.listaHeader {
    display: flex;
    gap: 20px;
}

.li-linkHeader {
    list-style-type: none;
    text-decoration: none;
}

.linkHeader {
    color: #fff;
    font-family: 'Montserrat';
}