@import url('../Fonts/Inter.css');

h4 {
    color: #F5F5F5;
    font-family: 'Inter';
    font-size: 90px;
    transform: translate(0px, -90px);
    padding-left: 5rem;
    z-index: 12132;
}

.imgArvore {
    transform: translate(300px, -800px);
    width: 1500px;
    z-index: -11;
}

.paragrafoPrincipal {
    color: #F5F5F5;
    font-family: 'Inter';
    transform: translate(0px, -2450px);
    padding-left: 5rem;
}
